doctype html



html.
  <h1>Tweet Tracker</h1>
  <div>
    <a href="https://plot.ly/~azotti/19/" target="_blank" title="" style="display: block; text-align: center;">
    <img src="https://plot.ly/~azotti/19.png" alt="" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" />
    </a>
    <script data-plotly="azotti:19" src="https://plot.ly/embed.js" async></script>
  </div>
