doctype html
html
  head
    title= "Tweet Tracker"
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src="./javascripts/mainController.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
